<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.com.rex.leave_system.mapper.CompanyMapper">
    <resultMap id="BaseResultMap" type="tw.com.rex.leave_system.model.dao.Company">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <!--TODO-->
        <!--<result property="address" column="name" jdbcType="VARCHAR"/>-->
        <!--TODO-->
        <!--<result property="mobiles" column="name" jdbcType="VARCHAR"/>-->
        <!--TODO-->
        <!--<result property="phones" column="name" jdbcType="VARCHAR"/>-->
        <!--TODO-->
        <!--<result property="faxes" column="name" jdbcType="VARCHAR"/>-->
        <!--TODO-->
        <!--<result property="emails" column="name" jdbcType="VARCHAR"/>-->
        <!--TODO-->
        <!--<result property="principal" column="name" jdbcType="VARCHAR"/>-->
        <result property="note" column="description" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="DATE"/>
        <result property="updateDate" column="update_date" jdbcType="DATE"/>
    </resultMap>
</mapper>