<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.com.rex.leave_system.mapper.CompanyPhoneMapper">
  <resultMap id="BaseResultMap" type="tw.com.rex.leave_system.model.dao.CompanyPhone">
    <id column="phone" jdbcType="VARCHAR" property="phone" />
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from company_phone
    where phone = #{phone,jdbcType=VARCHAR}
      and company_id = #{companyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="tw.com.rex.leave_system.model.dao.CompanyPhone">
    insert into company_phone (phone, company_id)
    values (#{phone,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select phone, company_id
    from company_phone
  </select>
  <resultMap id="BaseResultMap" type="tw.com.rex.leave_system.model.dao.CompanyPhone">
    <id column="phone" jdbcType="VARCHAR" property="phone" />
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from company_phone
    where phone = #{phone,jdbcType=VARCHAR}
      and company_id = #{companyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="tw.com.rex.leave_system.model.dao.CompanyPhone">
    insert into company_phone (phone, company_id)
    values (#{phone,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select phone, company_id
    from company_phone
  </select>
</mapper>