<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.com.rex.leave_system.mapper.EmployeeMobileMapper">
  <resultMap id="BaseResultMap" type="tw.com.rex.leave_system.model.dao.EmployeeMobile">
    <id column="mobile" jdbcType="VARCHAR" property="mobile" />
    <id column="employee_id" jdbcType="VARCHAR" property="employeeId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from employee_mobile
    where mobile = #{mobile,jdbcType=VARCHAR}
      and employee_id = #{employeeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="tw.com.rex.leave_system.model.dao.EmployeeMobile">
    insert into employee_mobile (mobile, employee_id)
    values (#{mobile,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select mobile, employee_id
    from employee_mobile
  </select>
</mapper>