<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.com.rex.leave_system.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="tw.com.rex.leave_system.model.dao.Employee">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="work_space" jdbcType="VARCHAR" property="workSpace"/>
        <result column="manager" jdbcType="VARCHAR" property="manager"/>
        <result column="arrive_date" jdbcType="TIMESTAMP" property="arriveDate"/>
        <result column="leave_date" jdbcType="TIMESTAMP" property="leaveDate"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, email, password, company, work_space, manager, arrive_date, leave_date,
        create_date, update_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from employee
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from employee
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="tw.com.rex.leave_system.model.dao.Employee">
        insert into employee (id, name, email,
                              password, company, work_space,
                              manager, arrive_date, leave_date,
                              create_date, update_date)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
                #{password,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{workSpace,jdbcType=VARCHAR},
                #{manager,jdbcType=VARCHAR}, #{arriveDate,jdbcType=TIMESTAMP}, #{leaveDate,jdbcType=TIMESTAMP},
                #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="tw.com.rex.leave_system.model.dao.Employee">
        insert into employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="company != null">
                company,
            </if>
            <if test="workSpace != null">
                work_space,
            </if>
            <if test="manager != null">
                manager,
            </if>
            <if test="arriveDate != null">
                arrive_date,
            </if>
            <if test="leaveDate != null">
                leave_date,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="workSpace != null">
                #{workSpace,jdbcType=VARCHAR},
            </if>
            <if test="manager != null">
                #{manager,jdbcType=VARCHAR},
            </if>
            <if test="arriveDate != null">
                #{arriveDate,jdbcType=TIMESTAMP},
            </if>
            <if test="leaveDate != null">
                #{leaveDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="tw.com.rex.leave_system.model.dao.Employee">
        update employee
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                company = #{company,jdbcType=VARCHAR},
            </if>
            <if test="workSpace != null">
                work_space = #{workSpace,jdbcType=VARCHAR},
            </if>
            <if test="manager != null">
                manager = #{manager,jdbcType=VARCHAR},
            </if>
            <if test="arriveDate != null">
                arrive_date = #{arriveDate,jdbcType=TIMESTAMP},
            </if>
            <if test="leaveDate != null">
                leave_date = #{leaveDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="tw.com.rex.leave_system.model.dao.Employee">
        update employee
        set name        = #{name,jdbcType=VARCHAR},
            email       = #{email,jdbcType=VARCHAR},
            password    = #{password,jdbcType=VARCHAR},
            company     = #{company,jdbcType=VARCHAR},
            work_space  = #{workSpace,jdbcType=VARCHAR},
            manager     = #{manager,jdbcType=VARCHAR},
            arrive_date = #{arriveDate,jdbcType=TIMESTAMP},
            leave_date  = #{leaveDate,jdbcType=TIMESTAMP},
            create_date = #{createDate,jdbcType=TIMESTAMP},
            update_date = #{updateDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>