<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.com.rex.leave_system.mapper.EmployeeFaxMapper">
  <resultMap id="BaseResultMap" type="tw.com.rex.leave_system.model.dao.EmployeeFax">
    <id column="fax" jdbcType="VARCHAR" property="fax" />
    <id column="employee_id" jdbcType="VARCHAR" property="employeeId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from employee_fax
    where fax = #{fax,jdbcType=VARCHAR}
      and employee_id = #{employeeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="tw.com.rex.leave_system.model.dao.EmployeeFax">
    insert into employee_fax (fax, employee_id)
    values (#{fax,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select fax, employee_id
    from employee_fax
  </select>
</mapper>