<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.com.rex.leave_system.mapper.LeaveHistoryMapper">
    <resultMap id="BaseResultMap" type="tw.com.rex.leave_system.model.dao.LeaveHistory">
        <id property="id" column="id" javaType="String" jdbcType="VARCHAR"/>
        <!--TODO-->
        <result property="employee" column="name" jdbcType="String" javaType="VARCHAR"/>
        <result property="startTime" column="create_date" jdbcType="Date" javaType="DATE"/>
        <result property="endTime" column="update_date" jdbcType="Date" javaType="DATE"/>
        <!--TODO-->
        <result property="approveEmployee" column="update_date" jdbcType="Date" javaType="DATE"/>
        <result property="approveDate" column="update_date" jdbcType="Date" javaType="DATE"/>
        <result property="description" column="description" jdbcType="String" javaType="VARCHAR"/>
        <result property="note" column="description" jdbcType="String" javaType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="Date" javaType="DATE"/>
        <result property="updateDate" column="update_date" jdbcType="Date" javaType="DATE"/>
    </resultMap>
</mapper>